@font-face {
  font-family: 'Gilroy';
  font-weight: 400;
  font-style: normal;
  src: url('../fonts/Gilroy-Regular.woff2') format('woff2'),
    url('../fonts/Gilroy-Regular.woff') format('woff');
  font-display: swap;
}


@font-face {
  font-family: 'Gilroy';
  font-weight: 700;
  font-style: normal;
  src: url('../fonts/Gilroy-Bold.woff2') format('woff2'),
    url('../fonts/Gilroy-Bold.woff') format('woff');
  font-display: swap;
}


@font-face {
  font-family: 'SolidenTrial';
  font-weight: 400;
  font-style: normal;
  src: url('../fonts/Soliden-Trial-Regular.woff2') format('woff2'),
    url('../fonts/Soliden-Trial-Regular.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'SolidenTrial';
  font-weight: 700;
  font-style: normal;
  src: url('../fonts/Soliden-Trial-Regular.woff2') format('woff2'),
    url('../fonts/Soliden-Trial-Regular.woff') format('woff');
  font-display: swap;
}

