html,
body {
  height: 100%;
}
html {
  scroll-behavior: smooth;
}

body {
  @extend %soliden-400;
  color: $default;
  font-size: 16px;
  line-height: normal;
  min-width: 320px;
  overflow-x: hidden;
  background-image: url(../images/body-bg.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background: linear-gradient(180deg, #161616 0%, #161616 100%);



}

.lock {
  overflow: hidden;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}

.container {
  max-width: 1780px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.link {
  display: inline-flex;
  justify-content: center;
  min-height: 42px;
  min-width: 149px;
  padding: 12px;

  @extend %soliden-700;
  font-size: 16px;
  color: #fff;
  background-color: $accent;
  border-radius: 6px;
  transition: all 0.2s;
}

.link:hover {
  background-color: #725fed;
}

.link-special {
  display: inline-flex;
  justify-content: center;
  min-height: 42px;
  min-width: 149px;
  padding: 12px;

  @extend %soliden-700;
  font-size: 16px;
  color: #fff;
  background-color: transparent;
  border-radius: 6px;
  border: 1px solid #7e81ff;
  transition: all 0.2s;
}

.link-special:hover {
  border: 1px solid #2d32ff;
  background: #2d32ff;
}

.scroll {
  display: none;
}

@media (max-width: 576px) {
  .link {
    min-height: 35px;
    min-width: 123px;
    padding: 11px;
    font-size: 12px;
  }
}
