// colors

$default: #929292;

$accent: #2D32FF;


%gilroy-400{
  font-family: 'Gilroy', sans-serif;
  font-weight: 400;
}

%gilroy-700{
  font-family: 'Gilroy', sans-serif;
  font-weight: 700;
}

%soliden-400{
  font-family: 'SolidenTrial', sans-serif;
  font-weight: 400;
}

%soliden-700{
  font-family: 'SolidenTrial', sans-serif;
  font-weight: 700;
}