.top {
  position: relative;
  padding-top: 139px;
  padding-bottom: 140px;
  overflow-x: hidden;
  &__bg {
    position: absolute;
    z-index: -1;
    width: 100%;
    top: 0;
    display: flex;
    justify-content: center;
  }
  &__decor {
    position: absolute;
    z-index: -1;
    width: 100%;
    top: 139px;
  }
  &__content {
    margin-bottom: 305px;
    color: #fff;
    text-align: center;
  }
  &__suptitle {
    margin-bottom: 13px;
    @extend %soliden-400;
    font-size: 24px;
    line-height: normal;
    letter-spacing: 2.4px;
    text-transform: uppercase;
  }
  &__title {
    margin-bottom: 29px;
    @extend %soliden-700;
    font-size: 64px;
    line-height: normal;
  }
  &__items {
    display: flex;
    gap: 44px 44px;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1585px;
    margin: 0 auto;
    justify-content: center;
  }
}

.top-item {
  position: relative;
  width: 100%;
  max-width: 360px;
  border-radius: 26px;
  border: 1px solid #333;
  background: #151515;
  padding-top: 80px;
  padding-bottom: 80px;
  padding-left: 46px;
  padding-right: 57px;
  &.top-item--special {
    padding-left: 0;
    padding-right: 0;
  }

  &__icon {
    position: absolute;
    top: -28px;
    left: -18px;
    padding: 28px;
    border-radius: 6px;
    border: 1px solid #333;
    background: #1e1e1e;
  }
  &__icon img {
    width: 24px;
    height: 24px;
    object-fit: contain;
  }
  &__suptitle {
    margin-bottom: 26px;
    color: #725fed;
    @extend %soliden-400;
    font-size: 12px;
    line-height: normal;
  }
  &__title {
    margin-bottom: 32px;
    color: #fff;
    @extend %soliden-700;
    font-size: 16px;
    line-height: normal;
  }
  &__text p:not(:last-child) {
    @extend %gilroy-400;
    margin-bottom: 23px;
    color: #c1c1c1;
  }
}

.top-item--special > .top-item__suptitle,
.top-item--special > .top-item__title {
  padding-left: 46px;
  padding-right: 30px;
}

.top-list {
  & li:not(:last-child) {
    padding-bottom: 15px;
    border-bottom: 1px solid #333;
  }
  & li:not(:first-child) {
    padding-top: 16px;
  }
  &__content {
    display: flex;
    padding-left: 13px;
    padding-right: 30px;
    @extend %gilroy-400;
    color: #c1c1c1;
  }
  &__value {
    margin-right: 18px;
    width: 100%;
    max-width: 42px;
    color: #fff;
    @extend %gilroy-700;
    font-size: 24px;
    line-height: normal;
  }
}

.top-item__text p > span {
  display: inline-block;
  @extend %gilroy-700;
  font-size: 16px;
  line-height: normal;
  color: #c1c1c1;
}

.top-list__text > span {
  @extend %gilroy-700;
  font-size: 16px;
  line-height: normal;
  color: #c1c1c1;
}

@media (max-width: 1400px) {
  .top__title {
    font-size: 50px;
  }
}

@media (max-width: 1200px) {
  .top__decor {
    display: none;
  }
}

@media (max-width: 992px) {
  .top {
    padding-bottom: 56px;
  }
  .top__bg > picture > img {
    max-width: none;
  }
}

@media (max-width: 860px) {
  .top-item {
    padding-top: 58px;
    padding-bottom: 50px;
    padding-left: 38px;
    padding-right: 35px;
  }
  .top-item__icon img {
    width: 18px;
    height: 18px;
  }
  .top-item__icon {
    top: -32px;
    left: -12px;
    padding: 20px;
  }
  .top-list__content {
    padding-left: 11px;
    padding-right: 24px;
  }
}

@media (max-width: 768px) {
  .top__title {
    font-size: 37px;
  }
  .top__suptitle {
    font-size: 20px;
  }
}

@media (max-width: 576px) {
  .top {
    padding-top: 173px;
  }
  .top__title {
    font-size: 24px;
    margin-bottom: 23px;
  }
  .top__suptitle {
    margin-bottom: 7px;
    font-size: 12px;
    letter-spacing: 1.2px;
  }
  .top__content {
    position: relative;
    margin-bottom: 0;
    min-height: 80vh;
  }
  .top__links {
  }

  .scroll {
    position: absolute;
    width: 100%;
    bottom: 40%;

    display: flex;
    justify-content: center;
  }

  .top__bg {
    top: -140px;
  }
}

@media (max-width: 375px) {
  .top__bg {
    left: 20px;
    
}
}
