.features {
  &__inner {
    padding-top: 125px;
    padding-bottom: 132px;
    padding-left: 58px;
    padding-right: 123px;
    width: 100%;
    max-width: 1614px;
    border-radius: 36px;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
  }
  &__inner-content {
    display: flex;
    gap: 0 30px;
  }
  &__title {
    width: 100%;
    max-width: 650px;
    @extend %soliden-700;
    font-size: 64px;
    color: #fff;
  }
  &__items {
    width: 100%;
    max-width: 740px;
    display: flex;
    flex-wrap: wrap;
    gap: 11px 13px;
  }
}

.features-item {
  width: 100%;
  max-width: 363px;
  padding-top: 29px;
  padding-left: 19px;
  padding-right: 13px;

  padding-bottom: 29px;
  border-radius: 12px;
  background: #151515;
  &__icon {
    margin-bottom: 32px;
  }
  &__icon img {
    width: 56px;
    height: 56px;
  }
  &__content {
    @extend %soliden-400;
    font-size: 16px;
    color: #929292;
  }
  &__content > span {
    @extend %soliden-700;
    font-size: 16px;
    line-height: normal;
    color: #fff;
  }
}

@media (max-width: 1650px) {
  .features__inner-content {
    flex-direction: column;
  }
  .features__title {
    margin-bottom: 61px;
    max-width: none;
  }
}

@media (max-width: 1400px) {
  .features__title {
    font-size: 50px;
  }
}

@media (max-width: 992px) {
  .features__title {
    font-size: 36px;
  }

  .features__inner {
    padding-top: 60px;
    padding-bottom: 130px;
    padding-left: 30px;
    padding-right: 30px;
  }
  .features__items {
    max-width: none;
    justify-content: center;
  }
}

@media (max-width: 860px) {
  .features-item__icon img {
    width: 24px;
    height: 24px;
  }
}

@media (max-width: 680px) {
  .features-item {
    max-width: 225px;
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 15px;
  }

  .features-item__icon {
    margin-bottom: 10px;
  }
}

@media (max-width: 576px) {
  .features__inner-content {
    align-items: center;
  }
  .features__title {
    max-width: 278px;
    font-size: 24px;
    line-height: 28.68px;
    text-align: center;
  }
  .features__inner {
    padding-top: 60px;
    padding-bottom: 130px;
    padding-left: 5px;
    padding-right: 5px;
  }
  .features-item__content {
    font-size: 10px;
    line-height: 13px;
  }
  .features-item__content>span {
    font-size: 10px;
}
}

@media (max-width: 530px) {
  .features__item {
    max-width: 165px;
  }
}

@media (max-width: 476px) {
  .features__item {
    max-width: 150px;
  }
}
