.price {
  position: relative;
  margin-bottom: 221px;
  padding-top: 50px;
  &:after {
    content: "";
    width: 514px;
    height: 514px;
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    border-radius: 50%;
    background: #10126f;
    filter: blur(500px);
  }
  &:before {
    content: "";
    width: 514px;
    height: 514px;
    position: absolute;
    z-index: -1;
    bottom: 0;
    left: 0;
    border-radius: 50%;
    background: #10126f;
    filter: blur(500px);
  }
  &__title {
    margin-bottom: 91px;
    position: relative;
    padding-left: 193px;
    color: #d9d9d9;
    @extend %soliden-400;
    font-size: 64px;
    line-height: normal;
  }
  &__title:after {
    content: "PRICE INFORMATION";
    position: absolute;
    top: -50%;
    left: 10px;
    z-index: -1;
    @extend %soliden-700;
    font-size: 128px;
    line-height: normal;
    -webkit-text-fill-color: rgba(0, 0, 0, 0);
    -webkit-text-stroke: 1px #232323;
  }
  &__items {
    padding-bottom: 97px;
    width: 100%;
    max-width: 1205px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 36px 36px;
  }
  &__more {
    position: relative;
    @extend %soliden-700;
    font-size: 32px;
    line-height: normal;
    color: #d9d9d9;
    text-align: center;
  }
  &__more:after {
    content: "AND MUCH MORE";
    position: absolute;
    width: 100%;
    top: -100%;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
    @extend %soliden-700;
    font-size: 120px;
    line-height: normal;
    -webkit-text-fill-color: rgba(0, 0, 0, 0);
    -webkit-text-stroke: 1px #232323;
  }
}

.price-item {
  width: 100%;
  max-width: 377px;
  padding-top: 48px;
  padding-bottom: 35px;
  padding-left: 27px;
  padding-right: 45px;
  border-radius: 6px;
  border: 1px solid #333;
  background-color: #151515;
  &__top {
    margin-bottom: 37px;
  }
  &__top-box {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
  }
  &__top-icon {
    margin-right: 16px;
  }
  &__top-icon img {
    width: 36px;
    height: 36px;
  }
  &__top-title {
    @extend %soliden-700;
    font-size: 36px;
    line-height: normal;
    color: #fff;
  }
  &__top-subtitle {
    min-height: 36px;
    @extend %soliden-400;
    font-size: 16px;
    line-height: normal;
    color: #fff;
  }
  &__cost {
    margin-bottom: 37px;
  }
  &__cost-suptitle {
    margin-bottom: 7px;
    @extend %soliden-400;
    font-size: 16px;
    line-height: normal;
    color: #fff;
  }
  &__cost-value {
    margin-bottom: 7px;
    @extend %gilroy-400;
    font-size: 64px;
    line-height: normal;
    color: #fff;
  }
  &__cost-subtitle {
    @extend %soliden-400;
    font-size: 16px;
    line-height: normal;
    color: #fff;
  }

  &__links {
    display: flex;
    justify-content: center;
  }
}
.price-info {
  margin-bottom: 70px;
  & li {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  & li:not(:last-child) {
    margin-bottom: 16px;
  }
  &__text {
    display: flex;
    align-items: center;
    @extend %soliden-400;
    font-size: 16px;
    line-height: normal;
    color: #fff;
  }
  &__icon {
    margin-right: 9px;
  }
  &__icon img {
    width: 36px;
    height: 36px;
  }
  &__value {
    width: 100%;
    max-width: 96px;
    @extend %gilroy-400;
    font-size: 16px;
    line-height: normal;
    color: #fff;
  }
}

@media (max-width: 1400px) {
  .price__items {
    justify-content: center;
  }
  .price__title:after,
  .price__more:after {
    font-size: 100px;
  }
}

@media (max-width: 1200px) {
  .price__title {
    font-size: 50px;
  }
  .price__title:after {
    top: -25%;
  }

  .price__title:after,
  .price__more:after {
    font-size: 80px;
  }
  .price__more:after {
    top: -70%;
  }
}

@media (max-width: 992px) {
  .price {
    margin-bottom: 127px;
  }
  .price__title {
    padding-left: 100px;
    font-size: 45px;
  }
  .price__title:after {
    font-size: 65px;
  }
}

@media (max-width: 768px) {
  .price__title {
    margin-bottom: 63px;
    padding-left: 30px;
    font-size: 32px;
  }
  .price__title:after {
    top: -12%;
    left: -25px;
    font-size: 40px;
    white-space: nowrap;
  }
  .price__items {
    padding-bottom: 66px;
    gap: 32px 32px;
  }
  .price-item {
    padding-top: 34px;
    padding-bottom: 35px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .price__more {
    font-size: 32px;
  }
  .price__more:after {
    top: -10%;
    font-size: 40px;
  }
}

@media (max-width: 680px) {
  .price:before {
    bottom: 300px;
  }

  .price:after {
    top: 300px;
  }
}

@media (max-width: 576px) {
  .price {
    overflow: hidden;
  }
  .price__title:before {
    content: "";
    position: absolute;
    top: -30px;
    left: -105px;
    width: 264px;
    height: 264px;
    z-index: -1;
    background-image: url("../../images/price/decor.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
  }
}

@media (max-width: 375px) {
  .price__title {
    padding-left: 27px;
    font-size: 30px;
  }

  .price__more {
    font-size: 25px;
  }
  .price__more:after {
    top: -12%;
    font-size: 30px;
  }
}
