.footer {
  padding-top: 221px;
  padding-bottom: 212px;
  &__content {
    display: flex;
    justify-content: center;
    color: #d9d9d9;
    @extend %soliden-700;
    font-size: 32px;
    line-height: normal;
  }
}
