.footer {
  overflow-x: hidden;
  position: relative;
  padding-top: 221px;
  padding-bottom: 212px;
  &:before {
    content: "";
    width: 514px;
    height: 514px;
    position: absolute;
    z-index: -1;
    bottom: 0;
    left: 0;
    border-radius: 50%;
    background-color: #0f0f0f;
    filter: blur(500px);
  }

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__content {
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    color: #d9d9d9;
    @extend %soliden-700;
    font-size: 32px;
    line-height: normal;
  }
  &__logo {
    display: none;
  }
  &__logo img {
    width: 41px;
    height: 41px;
  }
}

@media (max-width: 768px) {
  .footer {
    padding-top: 77px;
    padding-bottom: 27px;
  }
  .footer__content {
    font-size: 14px;
  }
  .footer__logo {
    display: block;
  }
}

@media (max-width: 576px) {
  .footer:before {
    content: "";
    width: 514px;
    height: 514px;
    position: absolute;
    z-index: -1;
    bottom: 360px;
    left: 0;
    border-radius: 50%;
    background: #10126f;
    filter: blur(500px);
  }
}
